# ignore everything
*

# except these
!/README.md
!/.bashrc
!/.bash_profile
!/.bash_colors
!/.gitignore
!/.gitconfig
!/.minttrc
!/.claude/
!/.claude/settings.json

# include excepted items in subdirectories
# !*/
