[user]
	email = tbg10101@gmail.com
	name = Tristan Bellman-Greenwood
[push]
	default = simple
[core]
	ignorecase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
